.home{
    border: 2px solid green;
    /* background-color: black; */
    background-image: linear-gradient(to bottom right, rgb(33, 98, 145), rgb(140, 230, 218));
    height:97vh;
    width:100vh;
    /* margin-bottom: 50px; */
    /* margin-top: 30px;*/
    margin-left: 100px; 

}

h1{
    color: orange;
    margin-left: 320px;
}

button{
    background-color: black;
    border: 2px solid white;
    color: wheat;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
}

button:hover {
    background-color: #808080; /* Green */
    color: white;
  }

.home img{
    height: 50px;
    padding-left: 250px;
    position: absolute;
    margin-top: 15px;

}

