
input{
    width: 50%;
    height: 50%;
    padding: 12px 20px; 
    margin: 15px ;

}
form{
   border: 2px solid black; 
   margin:60px; 
   margin-bottom:3px; 
   background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

   margin-right: 500px;
}

